image: python:3.11

stages:
  - test

variables:
  UV_INSTALL_DIR: "$CI_PROJECT_DIR/.uv"

before_script:
  - python -m pip install --upgrade pip
  - pip install uv
  - uv venv
  - uv pip install -e .[dev,test]

test:
  stage: test
  script:
    - uv run pytest --junitxml=junit.xml
  artifacts:
    when: always
    reports:
      junit: junit.xml
    paths:
      - junit.xml
